source/backend/webapi_custom_exception/Service References/EmployeeService/EmployeeService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:20988/EmployeeServices/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" />
  <xs:element name="getEmployeeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" minOccurs="0" name="getEmployeeListResult" nillable="true" type="q1:ArrayOfEmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" minOccurs="0" name="getEmployeeResult" nillable="true" type="q2:EmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" minOccurs="0" name="blogEntity" nillable="true" type="q3:EmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" minOccurs="0" name="AddEmployeeResult" nillable="true" type="q4:EmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" minOccurs="0" name="blogEntity" nillable="true" type="q5:EmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Abhishek_POC_BusinessModel.BusinessObjectsModel" minOccurs="0" name="UpdateEmployeeResult" nillable="true" type="q6:EmployeeModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveEmployeeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>